* {
    margin: 0;
}
@font-face {
    font-family: ForAll;
    src: url(../../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: Title;
    src: url(../fonts/OleoScript-Regular.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/technology-7997153_1280.jpg') no-repeat center center/cover;
    display: flex;
    gap: 20%;
}

.LogInContainer{
    padding: 10px;
    width: 30%;
    height: 90%;
    background-color: rgba(50, 143, 168, 0.2);
    border-radius: 15px;
}

.TitleLogo{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 150px;
    font-family: Title;
    font-weight: normal;
    text-align: center;
    color: white;
    z-index: 1;
}
.TitleLogo p{
    font-size: 30px;
    font-family: Title;
    font-weight: normal;
    text-align: center;
    color: white;
    z-index: 1;
}
.TitleLogo .Border{
    width: 20%;
    height: 40%;
    position: absolute;
    border: 10px double rgb(17, 110, 136);
    border-radius: 50%;
}
.Message{
    margin-top: 70px;
    color: white;
    font-family: Title;
    font-size: 80px;
    font-weight: lighter;
}
.GlassPanel .FormBox{
    height: 750px;
}
.FormBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}
.inputBox{
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.inputBox input{
    width: 70%;
    height: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(71, 193, 226);
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 20px;
    padding-left: 5px;
    color: white;
    font-family: ForAll;
}

.inputBox.error input{
   font-size: 16px;
}
.styled-Error{
    color: red;
    font-family: ForAll;
    font-size: 16px;
    font-weight: bold;
}
.inputBox label{
    position: absolute;
    left: 64%;
    color: white;
    font-family: ForAll;
    font-size: 20px;
}
.inputBox button{
    width: 60%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 30px;
    color: white;
    font-family: ComponentsFont;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(17, 110, 136);
    border: 1px solid white;
    font-family: ForAll;
}
button:hover{
    border: 3px solid white;
    cursor: pointer;
}
.Links{
    margin-top: 70px;
    width: 100%;
}
.Links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: ForAll;
}
a:hover{
    font-weight: bold;
    border-bottom: 2px solid rgb(71, 193, 226);
    cursor: pointer;
}
.SingUp{
    margin-right: 60px;
}
.ForgotPassword{
    margin-left: 60px;
}


@media (max-width: 480px){
    body{
        flex-direction: column;
        gap: 30px;
    }
    .LogInContainer{
        width: 80%;
        height: 60%;
    }
    .TitleLogo{
        width: 80%;
        height: 30%;
    }
    .TitleLogo .Border{
        width: 50%;
        height: 20%;
        position: absolute;
        border: 10px double rgb(17, 110, 136);
        border-radius: 50%;
    }
    h1{
        font-size: 60px;
    }
    .TitleLogo p{
        font-size: 18px;
    }
    .Message{
        margin-top: 30px;
        font-size: 60px;
    }
    .inputBox{
        height: 50px;
    }
    .inputBox input{
        margin-top: 25px;
        width: 80%;
    }
    .inputBox label{
        left: 18%;
        font-size: 18px;
    }
    .inputBox button{
        width: 80%;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 15px;
        margin-top: 30px;
    }
    .Links{
        margin-top: 40px;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .Links a{
        font-size: 14px;
    }
    .SingUp{
        margin-right: 0px;
    }
    .ForgotPassword{
        margin-left: 0px;
    }
    .styled-Error{
        font-size: 12px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    body{
        flex-direction: column;
        gap: 40px;
    }
    .LogInContainer{
        width: 80%;
        height: 60%;
    }
    .TitleLogo{
        width: 70%;
        height: 30%;
    }
    .TitleLogo .Border{
        width: 50%;
        height: 20%;
        position: absolute;
        border: 10px double rgb(17, 110, 136);
        border-radius: 50%;
    }
    h1{
        font-size: 75px;
    }
    .TitleLogo p{
        font-size: 20px;
    }
    .Message{
        margin-top: 40px;
        font-size: 60px;
    }
    .inputBox{
        height: 50px;
    }
    .inputBox input{
        margin-top: 25px;
        width: 80%;
    }
    .inputBox label{
        left: 18%;
        font-size: 18px;
    }
    .inputBox button{
        width: 80%;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 15px;
        margin-top: 30px;
    }
    .Links{
        margin-top: 40px;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .Links a{
        font-size: 16px;
    }
    .SingUp{
        margin-right: 0px;
    }
    .ForgotPassword{
        margin-left: 0px;
    }
    .styled-Error{
        font-size: 12px;
    }
}


@media (min-width: 1280px) and (max-width: 1439px) {
    body{
        gap: 100px;
    }
    .LogInContainer{
        width: 40%;
        height: 90%;
    }
    .TitleLogo{
        width: 40%;
        height: 30%;
    }
    .TitleLogo .Border{
        width: 30%;
        height: 30%;
        position: absolute;
        border: 10px double rgb(17, 110, 136);
        border-radius: 50%;
    }
    h1{
        font-size: 100px;
    }
    .TitleLogo p{
        font-size: 25px;
    }
    .inputBox label{
        left: 59%;
        font-size: 20px;
    }
    .Links{
        margin-top: 10px;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .SingUp{
        margin-right: 15px;
    }
    .ForgotPassword{
        margin-left: 15px;
    }
}


@media (min-width: 1440px) and (max-width: 1919px) {
    body{
        gap: 100px;
    }
    .LogInContainer{
        width: 40%;
        height: 90%;
    }
    .TitleLogo{
        width: 40%;
        height: 30%;
    }
    .TitleLogo .Border{
        width: 30%;
        height: 30%;
        position: absolute;
        border: 10px double rgb(17, 110, 136);
        border-radius: 50%;
    }
    h1{
        font-size: 100px;
    }
    .TitleLogo p{
        font-size: 25px;
    }
    .inputBox label{
        left: 59%;
        font-size: 20px;
    }
    .Links{
        margin-top: 10px;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .SingUp{
        margin-right: 15px;
    }
    .ForgotPassword{
        margin-left: 15px;
    }
}