*{
    margin: 0;
}
@font-face {
    font-family: ForAll;
    src: url(../../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: Title;
    src: url(../fonts/OleoScript-Regular.ttf);
}
.NavigationBar{
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 143, 168, 0.4);
    border-bottom: 3px double white;
}
.NavigationBar li{
    display: inline-block;
    margin-right: 50px;
    padding: 5px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.NavigationBar a{
    font-family:ForAll ;
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin: 10px;
}
.NavigationBar li:hover{
    background-color: rgba(50, 143, 168, 0.8);
}

@media (max-width: 480px){
    .NavigationBar{
        height: 110px;
    }
    .NavigationBar li{
        width: 200px;
    }
    .NavigationBar a{
        font-size: 18px;
        text-decoration: none;
        color: white;
        margin: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .NavigationBar{
        height: 100px;
    }
    .NavigationBar li{
        width: 200px;
    }
    .NavigationBar a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        margin: 10px;
    }
}
